# class files
*.class

# Back and log files #
*.bak
*~
*.log

# Build and doc directories #
**/build/
**/apidoc/
**/javadoc/

# Development files
netbeans
**/netbeans
**/.classpath
**/.project
**/.settings

qv_applets/bin
qv_applets/dist

qv_editor/dist/qti.jar
qv_editor/dist/dev
qv_editor/web/WEB-INF/log4j.properties
qv_editor/web/WEB-INF/classes

qv_viewer/web/WEB-INF/log4j.properties
qv_viewer/web/WEB-INF/classes

 **/qv_web/logs/**
qv_web/logs/qv_editor_log.txt