# class files
*.class

# Back and log files #
*.bak
*~
*.log

# Build and doc directories #
**/build/
**/apidoc/
**/javadoc/

# Development files
netbeans
**/netbeans
**/.classpath
**/.project
**/.settings

qv_applets/bin
qv_applets/dist

