body {
	background-image: url("../imatges/rosa/fons.gif");
}
a:link {text-decoration: underline;color: #992687;}
a:visited {text-decoration: underline; color: #992687;}
a:active {text-decoration: underline; color: #992687;}
a:hover {text-decoration: underline; color: #FFFFFF; background-color:#992687;}
.headerText{
	color : #AB2089;
}
.assignacioText{
	color : #992687;
}
.fullText{
	color : #992687;
}
.presentacio{
	background:#992687;
}
.fonsPresentacio{
	background:#992687;
}
.preguntes{
	color : #992687;
}
.intervencioDocent{
	background: #FFE0FA;
}

