BODY{
	background: url(../image/fons.jpg) repeat-x;
	background-color: #C4E9F3;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	color: #002230;
}

A{
	color: #002230;
}
A:hover{
	color: #FD5F07;
	text-decoration:underline;
}
.menu{
	color: #002230;
	text-decoration:none;
}
.menu:A:hover{
	color: #FD5F07;
	text-decoration:underline;
}

li{
	list-style-image: url(../image/fletxa.gif) no-repeat;
	padding-bottom: 20px;
}

.titol1{
	font-size: 15px;
	font-weight: bold;
	color: #36627F;
}
.linia-titol{
	background-color: #66B0CF;
}
.text{
	color: #002230;
}