<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app>
 <filter>
 	<filter-name>LogFilter</filter-name>
 	<filter-class>edu.xtec.qv.util.ViewerLogFilter</filter-class>
 </filter>
  
 <filter-mapping>
 	<filter-name>LogFilter</filter-name>
 	<servlet-name>PrepareQV</servlet-name>
 </filter-mapping>
 <filter-mapping>
 	<filter-name>LogFilter</filter-name>
 	<servlet-name>GetCandidateAssignment</servlet-name>
 </filter-mapping>  

	<servlet>
		<servlet-name>PrepareQV</servlet-name>
		<servlet-class>edu.xtec.qv.servlet.PrepareQVServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetCandidateAssignment</servlet-name>
		<servlet-class>edu.xtec.qv.servlet.GetCandidateAssignmentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetCandidateAssessment</servlet-name>
		<servlet-class>edu.xtec.qv.servlet.GetCandidateAssessmentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetTeacherAssignment</servlet-name>
		<servlet-class>edu.xtec.qv.servlet.GetTeacherAssignmentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetTeacherAssessment</servlet-name>
		<servlet-class>edu.xtec.qv.servlet.GetTeacherAssessmentServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetImage</servlet-name>
		<servlet-class>edu.xtec.qv.servlet.ImageProxyServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetAssignmentState</servlet-name>
		<servlet-class>edu.xtec.qv.servlet.GetAssignmentStateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetUserAssessments</servlet-name>
		<servlet-class>edu.xtec.qv.servlet.GetUserAssessmentsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetSkins</servlet-name>
		<servlet-class>edu.xtec.qv.servlet.GetSkinsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>GetPuntuations</servlet-name>
		<servlet-class>edu.xtec.qv.servlet.GetPuntuationsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DelAssignmentServlet</servlet-name>
		<servlet-class>edu.xtec.qv.servlet.DelAssignmentServlet</servlet-class>
	</servlet>
	<!-- MAPPING -->
	<servlet-mapping>
		<servlet-name>PrepareQV</servlet-name>
		<url-pattern>/prepareQV</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PrepareQV</servlet-name>
		<url-pattern>/web/prepareQV</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetCandidateAssignment</servlet-name>
		<url-pattern>/getAssignacio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetCandidateAssignment</servlet-name>
		<url-pattern>/web/getAssignacio</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetCandidateAssessment</servlet-name>
		<url-pattern>/getQuadernAlumne</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetCandidateAssessment</servlet-name>
		<url-pattern>/web/getQuadernAlumne</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetTeacherAssignment</servlet-name>
		<url-pattern>/getAssignacionsDocent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetTeacherAssessment</servlet-name>
		<url-pattern>/getQuadernDocent</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetImage</servlet-name>
		<url-pattern>/getImage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetAssignmentState</servlet-name>
		<url-pattern>/getEstatQuadern</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetUserAssessments</servlet-name>
		<url-pattern>/getQuaderns</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetSkins</servlet-name>
		<url-pattern>/getAparences</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>GetPuntuations</servlet-name>
		<url-pattern>/getPuntuacions</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DelAssignmentServlet</servlet-name>
		<url-pattern>/delAssignacio</url-pattern>
	</servlet-mapping>
</web-app>
