<style type="text/css">
<!--
BODY {
	FONT: 12pt Arial, Helvetica, Verdana; 
}
TABLE {
}
.nom_quadern{ font-family: Arial, Helvetica, Verdana; font-weight: bold; font-size: 14pt; color="#ffffff" }
.student_name { font-family: Helvetica, Verdana; font-style: normal; font-size: 22pt }
-->
</style>