<style type="text/css">
<!--
BODY {
	//Background: #e0e0e0;	
	FONT: 12pt Arial, Helvetica, Verdana; 
}
TABLE {
	Background: #ffffe0
}
.presentacio { font-family: Arial, Helvetica, Verdana; font-style: normal; font-size: 14pt }
.respostes { font-family: Helvetica, Verdana; font-style: normal; font-size: 12pt; text-indent: 35pt}
.feedback { font-family: Helvetica, Verdana; font-style: normal; font-size: 14pt; }
.interac_teacher { font-family: Arial, Helvetica, Verdana; font-style: normal; font-size: 12pt; color=#ff0000 }
.interac_candidate { font-family: Arial, Helvetica, Verdana; font-style: normal; font-size: 12pt; color=#000000 }
-->
</style>