body {
	background-image: url("../imatges/rosa/fons.gif");
	background-repeat: repeat;
	background-color: #E5E5E5;
}
a:link {text-decoration: underline;color: #992687;}
a:visited {text-decoration: underline; color: #992687;}
a:active {text-decoration: underline; color: #992687;}
a:hover {text-decoration: underline; color: #FFFFFF; background-color:#992687;}
.headerText{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #AB2089;
	font-size :8pt;
}
.assignacioText{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #992687;
	font-size :10pt;
}
.assignacioTitol{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : FFFFFF;
	font-size :9pt;
	font-weight: bold;
}
.fullText{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #992687;
	font-size :9pt;
	font-weight: bold;
}
.presentacio{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #FFFFFF;
	font-size :9pt;
	font-weight: bold;
	background:#992687;
}
.fonsPresentacio{
	background:#992687;
}
.preguntes{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #992687;
	font-size :9pt;
}
.forum{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #333333;
	font-size : 10px;
}
.intervencioDocent{
	background: #FFE0FA;
}
.fonsRespostes{
	background: #DEEBEF;
}
.feedbackOK{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size :9pt;
	font-weight: bold;
	color : green;
}
.feedbackKO{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size :9pt;
	font-weight: bold;
	color : red;
}
.fib{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size :9pt;
}
.response_label_list{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size :9pt;
}

/* Revisat */
.additional-material-section{
	background: #DEEBEF;
	border: 1px #004080 solid;
}
.additional-material-section:TD{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size :9pt;
	color : #295A94;
}

.item{
	background: #DEEBEF;
	border: 1px #004080 solid;
}

.assessment-text{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #FFFFFF;
	font-size :9pt;
	font-weight: bold;
	background: #295A94;
}

.additional-material{
	background: #DEEBEF;
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size :9pt;
	color : #295A94;
	/*border: 1px #004080 solid;*/
}
.additional-material:TD{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size :9pt;
	color : #295A94;
}

.response{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #295A94;
	font-size :9pt;
}

.interaction{
	background:#295A94;
	border: 0.5px #004080 solid;
}

INPUT{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #295A94;
	font-size :9pt;
}
SELECT{
	font-family : Verdana, Geneva, Arial, Helvetica, sans-serif;
	color : #295A94;
	font-size :9pt;
}

