.item-assessment{
	FONT-FAMILY: Arial, Helvetica, sans-serif;
	FONT-WEIGHT: bold; 
	FONT-SIZE: 11pt;
	FONT-STYLE: normal; 
	COLOR: #FFFFFF;
	BACKGROUND: #BEBEE9;
}
.item-response { 
	FONT-WEIGHT: normal; 
	FONT-SIZE: 10pt; 
	COLOR: #000000; 
	FONT-STYLE: normal; FONT-FAMILY: Arial, Helvetica, sans-serif 
} 